


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Реєстрація на GeekHub</title>
    <meta name="description" content="Якщо ви бажаєте приєднатися до слухачів GeekHub, реєструйтеся за допомогою форми та чекайте на дзвінок!">
    <meta name="keywords" content="реєстрація, курси HTML, курси PHP, registration">

	<link href="style.css" tppabs="http://geekhub.ck.ua/style.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery-old.js" tppabs="http://geekhub.ck.ua/js/jquery-old.js"></script>
    <script type="text/javascript" src="js/jquery.filter_input.js" tppabs="http://geekhub.ck.ua/js/jquery.filter_input.js"></script>
	<script type="text/javascript" src="js/scripts.js" tppabs="http://geekhub.ck.ua/js/scripts.js"></script>

            <script type="text/javascript">
            $(function(){
                var location = window.location.href;
                var index = location.split('?')[1].replace('#','');
                if (index)
                {
                    index = parseInt(index)+1;
                } else {
                    index = 0;
                }
                $('#course option:eq('+index+')').attr("selected",true);
            });
        </script>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27082120-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www/') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
	</script>
</head>
<body class="inner">
<div id="wrap">
	<div id="header">
		<h1><a href="index.htm" tppabs="http://geekhub.ck.ua/">GeekHub</a></h1>
        <ul class="nav">
            <li><a href="index.htm" tppabs="http://geekhub.ck.ua/">Головна</a></li>
            <li><a href="about.html" tppabs="http://geekhub.ck.ua/about.html">Про GeekHub</a></li>
            <li><a href="team.html" tppabs="http://geekhub.ck.ua/team.html">Команда</a></li>
            <li><a href="faq.html" tppabs="http://geekhub.ck.ua/faq.html">FAQ</a></li>
            <li><a href="contacts.html" tppabs="http://geekhub.ck.ua/contacts.html">Зв'язок</a></li>
        </ul>
        <ul class="links">
            <li class="fb"><a href="javascript:if(confirm('http://www.facebook.com/pages/GeekHub/158983477520070  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?'))window.location='http://www.facebook.com/pages/GeekHub/158983477520070'" tppabs="http://www.facebook.com/pages/GeekHub/158983477520070">facebook</a></li>
            <li class="vk"><a href="javascript:if(confirm('http://vkontakte.ru/geekhub  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?'))window.location='http://vkontakte.ru/geekhub'" tppabs="http://vkontakte.ru/geekhub">Вконтакте</a></li>
            <li class="tw"><a href="javascript:if(confirm('http://twitter.com/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?'))window.location='http://twitter.com/#!/geek_hub'" tppabs="http://twitter.com/#!/geek_hub">twitter</a></li>
            <li class="yb"><a href="javascript:if(confirm('http://www.youtube.com/user/GeekHubchannel  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?'))window.location='http://www.youtube.com/user/GeekHubchannel'" tppabs="http://www.youtube.com/user/GeekHubchannel">youtube</a></li>
            <li class="v"><a href="javascript:if(confirm('http://vimeo.com/user8452244  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?'))window.location='http://vimeo.com/user8452244'" tppabs="http://vimeo.com/user8452244">vimeo</a></li>
        </ul>
	</div><!-- header -->
	<div id="content">
        <div class="register">
            <h2>Реєстрація</h2>
			<div class="register-wrap">
				<p>Нажаль реєстрацію на другий сезон GeekHub вже зачинено :(</p>
				<p>Реєстрація на сезон 2014-2015 відкриється у серпні 2014. Чекаємо на Вас у наступному році!</p>
        </div>
	</div><!-- content -->
    <ul id="footer">
        <li>
            <ul class="nav">
                <li><a href="index.htm" tppabs="http://geekhub.ck.ua/">Головна</a></li>
                <li><a href="about.html" tppabs="http://geekhub.ck.ua/about.html">Про GeekHub</a></li>
                <li><a href="team.html" tppabs="http://geekhub.ck.ua/team.html">Команда</a></li>
                <li><a href="contacts.html" tppabs="http://geekhub.ck.ua/contacts.html">Зв’язок</a></li>
            </ul>
        </li>
        <li>© Copyright 2011</li>
    </ul>
</div>
</body>
</html>